<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleDocumentTypes</key>
			<array>
				<dict>
					<key>CFBundleTypeName</key>
					<string>public.source-code</string>
					<key>LSHandlerRank</key>
					<string>Owner</string>
				</dict>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swift</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Swift</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleDocumentTypes</key>
			<array>
				<dict>
					<key>CFBundleTypeName</key>
					<string>public.source-code</string>
					<key>LSHandlerRank</key>
					<string>Owner</string>
				</dict>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>java</string>
				<string>php</string>
				<string>py</string>
				<string>rb</string>
				<string>go</string>
				<string>html</string>
				<string>xml</string>
				<string>css</string>
				<string>js</string>
				<string>json</string>
				<string>yaml</string>
				<string>c</string>
				<string>h</string>
				<string>m</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Programs</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleDocumentTypes</key>
			<array>
				<dict>
					<key>CFBundleTypeName</key>
					<string>public.plain-text</string>
					<key>LSHandlerRank</key>
					<string>Owner</string>
				</dict>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Armonia. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
